@page
@model Opdracht223Model

<h1>Opdracht 2</h1>
<div class="card">
    <h2 class="mb-3">Kies het derde getal</h2>
    <div class="flex justify-between">
        <a href="/Opdrachten/Opdracht2234?id1=@Model.Id1&id2=@Model.Id2&id3=7" class="btn btn-primary">7</a>
        <a href="/Opdrachten/Opdracht2234?id1=@Model.Id1&id2=@Model.Id2&id3=8" class="btn btn-primary">8</a>
        <a href="/Opdrachten/Opdracht2234?id1=@Model.Id1&id2=@Model.Id2&id3=9" class="btn btn-primary">9</a>
    </div>
</div>