@page
@model Opdracht22Model

@{
    ViewData["Title"] = "Opdracht 22";
}
<h1>Opdracht 2</h1>
<div class="card">
    <h2 class="mb-3">Kies de tweede getal</h2>
    <div class="flex justify-between">
        <a href="/Opdrachten/Opdracht223?id1=@Model.Id1&id2=4" class="btn btn-primary">4</a>
        <a href="/Opdrachten/Opdracht223?id1=@Model.Id1&id2=5" class="btn btn-primary">5</a>
        <a href="/Opdrachten/Opdracht223?id1=@Model.Id1&id2=6" class="btn btn-primary">6</a>
    </div>
</div>


