@page
@model Opdracht2Model

@{
    ViewData["Title"] = "Opdracht 2";
}
<h1>Opdracht 2</h1>
<div class="card">
    <h2 class="mb-3">Kies het eerste getal</h2>
    <div class="flex justify-between">
        <a href="/Opdrachten/Opdracht22?id1=1" class="btn btn-primary">1</a>
        <a href="/Opdrachten/Opdracht22?id1=2" class="btn btn-primary">2</a>
        <a href="/Opdrachten/Opdracht22?id1=3" class="btn btn-primary">3</a>
    </div>
</div>
